<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="CadenaConexion" value="Data Source=.;DataBase=MUSICA;Connect Timeout=30;Integrated Security=True"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  
</configuration>
